<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClearScript.V8" version="5.4.7" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Mandoline.Api.Client" version="1.0.6284.35934" targetFramework="net452" />
  <package id="Mandoline.Shaping" version="1.0.5492.26148" targetFramework="net452" />
  <package id="netfx-Guard" version="1.3.3.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Replify" version="1.0.5547.37183" targetFramework="net452" />
  <package id="RestSharp" version="104.1" targetFramework="net452" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>